.navbar {
  margin-top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.navbar a {
  color: #fff;
  font-weight: bold;
}

.navbar a img {
  height: 50px;
}

.navbar ul li {
  margin-left: 20px;
}

#hero-area {
  height: 650px;
  background: url("../img/study.jpg") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#hero-area:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,81b270+100&0+0,1+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#81b270));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #81b270 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#81b270',GradientType=1 );
  /* IE6-9 */
  z-index: -1;
}

#hero-area .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

#hero-area .section-text {
  padding: 200px 0;
  padding-left: 50px;
}

#hero-area .section-text h1 {
  margin-bottom: 40px;
}

#hero-area .section-text p {
  margin-bottom: 40px;
}

#about-us {
  background: white;
  padding-top: 20px;
}

#about-us .about-text {
  padding: 20px 0px;
}

#about-us .about-text h2 {
  font-size: 40px;
  font-weight: 700;
  color: #666;
  margin-bottom: 30px;
}

#about-us .about-text p {
  color: #818181;
  margin-top: 20px;
  padding-right: 20px;
}

#about-us .reg-form {
  -webkit-box-shadow: 0px 0px 10px #acacac;
          box-shadow: 0px 0px 10px #acacac;
  padding: 30px 20px;
  border-radius: 20px;
  margin-top: -60px;
  position: relative;
  z-index: 5;
  background: #fff;
}

#about-us .reg-form h2 {
  margin-bottom: 30px;
}

#about-us .reg-form input {
  margin-bottom: 15px;
}

#about-us .reg-form a {
  border-radius: 30px;
  margin-top: 20px;
  padding: 10px 30px;
}

#product {
  background: #F0F3F4;
  padding: 50px 0;
}

#product .section-text {
  color: #28A745;
  margin-bottom: 30px;
}

#product .card {
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 20px 0px;
  padding: 0 20px;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
}

#product .card h3 {
  color: #3f3f3f;
  font-size: 35px;
  font-weight: 00;
  text-align: center;
}

#product .card .product-text {
  color: #666;
}

#product .card .price {
  color: #7ABC65;
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0px;
  text-align: center;
}

#product .card sup {
  font-size: 18px;
  font-weight: normal;
}

#product .card .btn {
  background: #7ABC65;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 30px;
  margin-top: 20px;
  padding: 10px 30px;
}

#product .card-body {
  padding: 35px 0px;
}

#articles {
  padding: 50px 0;
  font-size: 14px;
}

#articles .article-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#articles span {
  margin-bottom: 30px;
  display: inline-block;
}

#articles .card {
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 10px #a3a1a1;
          box-shadow: 0px 0px 10px #a3a1a1;
  border-radius: 10px;
  border-bottom: 4px solid #28A745;
}

#articles .card a {
  color: #28A745;
}

#footer-area {
  background: #1C1D1E;
}

#footer-area a {
  color: #fff;
}

#footer-area h5 {
  font-size: 16px;
}

#footer-area ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer-area ul li {
  font-size: 12px;
  opacity: .6;
}

#footer-area .fa {
  margin-right: 3px;
}

#footer-area p {
  font-size: 12px;
  opacity: .6;
}

#filter {
  padding: 100px 0 50px;
}

#filter a {
  margin: 10px 4px;
}

#filter a:nth-child(1) {
  background: #f0f0f0;
  -webkit-box-shadow: 0px 0px 4px #adadad;
          box-shadow: 0px 0px 4px #adadad;
}

#filter a:nth-child(2) {
  background: #f0f0f0;
  border-bottom: 2px solid #E1DB26;
  -webkit-box-shadow: 0px 0px 4px #adadad;
          box-shadow: 0px 0px 4px #adadad;
}

#filter a:nth-child(3) {
  background: #f0f0f0;
  border-bottom: 2px solid #E9581F;
  -webkit-box-shadow: 0px 0px 4px #adadad;
          box-shadow: 0px 0px 4px #adadad;
}

#filter a:nth-child(4) {
  background: #f0f0f0;
  border-bottom: 2px solid #13AEC8;
  -webkit-box-shadow: 0px 0px 4px #adadad;
          box-shadow: 0px 0px 4px #adadad;
}

#filter a:nth-child(5) {
  background: #f0f0f0;
  border-bottom: 2px solid #C64582;
  -webkit-box-shadow: 0px 0px 4px #adadad;
          box-shadow: 0px 0px 4px #adadad;
}

#filter a:nth-child(6) {
  background: #f0f0f0;
  border-bottom: 2px solid #11A588;
  -webkit-box-shadow: 0px 0px 4px #adadad;
          box-shadow: 0px 0px 4px #adadad;
}

#filter a:nth-child(7) {
  background: #f0f0f0;
  border-bottom: 2px solid #392bff;
  -webkit-box-shadow: 0px 0px 4px #adadad;
          box-shadow: 0px 0px 4px #adadad;
}

#article audio {
  width: 100%;
}

#article .article-title h3 {
  font-size: 35px;
}

#article .article-title p {
  font-style: italic;
}

#article .article-body h3 {
  font-size: 35px;
  margin-bottom: 20px;
}

#article .article-body p {
  font-size: 18px;
  line-height: 1.8;
}

#article .article-body img {
  max-width: 200px;
  margin-left: 10px;
}

#article .article-body .tool {
  border-bottom: 2px dotted #28A745;
}

#article .article-part-2 img {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

#article .article-part-2 p {
  font-size: 18px;
  line-height: 1.8;
}

#article .word-meaning {
  height: 100%;
  padding: 0 30px;
}

#article .word-meaning .article-menu {
  margin-bottom: 30px;
}

#article .word-meaning .article-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#article .word-meaning .article-menu ul li {
  display: inline-block;
  padding: 10px 30px;
}

#article .word-meaning .article-menu ul li a {
  font-size: 30px;
  color: #3f3f3f;
}

#article .word-meaning .article-menu ul .active {
  background: #333;
}

#article .word-meaning .article-menu ul .active a {
  color: #fff;
}

#article .word-meaning h2 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 3px solid #777;
  margin-bottom: 40px;
}

#article .word-meaning span {
  font-weight: 700;
  margin-right: 6px;
  border-bottom: 2px dotted #28A745;
}

#article .word-meaning p {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  #hero-area {
    margin-top: 20px;
  }
  #hero-area .section-text {
    margin-bottom: 20px;
  }
  #articles .card, #more-articles .card {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  #home h1 {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */